/*fluid typography*/
html {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}

/*centered body*/
html {
	box-sizing:border-box;
	display:flex;
	justify-content:center;
	user-select:none
}
*,*:before,*:after {
	box-sizing:inherit
}
html,body {
	height:100%
}
body {
  font-family: 'Open Sans'!important, sans-serif!important;
	margin:0 1em;
	padding:1em 0;
	color:#fff;
	display:flex;
}

/*background image*/
body::before {
  content: ' ';
  display: block;
  background-image: url("../img/bg.jpg")!important;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -10; // This is pretty important
}

/*layer*/
main {
	margin:auto;
  background-color: rgba(0, 0, 0, 0.6)!important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto !important;
  min-height: 100%;
  z-index: 2!important;
}

/*centered content*/
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/*custom css*/
.default {
  opacity: 0.7;
}

.avatar {
  width: 100%;
  max-width: 170px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, .3)!important;
  border-radius: 50%;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300 !important;
}

ul li {
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}

.groups {
  display: block!important;
  list-style-type: none!important;
}

.fab{
  font-size: 1.8em!important;
}

.fas{
  font-size: 1.8em!important;
}

.img-fluid{
  -webkit-box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.61)!important;
  -moz-box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.61)!important;
  box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.61)!important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
  main {
       min-height: 100%!important;
  }
}

@supports (-ms-accelerator:true) {
  /* IE Edge 12+ CSS styles go here */
  main {
    min-height: 100%!important;
  }
}

/** LIGHTBOX MARKUP **/

.thumbnail {
  max-width: 40%;
}

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}
